<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964741321159-8kponhleh5thordpkib5n2ahuk0vtuks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964741321159-8kponhleh5thordpkib5n2ahuk0vtuks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>964741321159-gop8gbrnalg6edcuu0pmqjuvkrrb4p24.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKqjtJ2CLFADULOoXL1DmU2Dmyr85LOGI</string>
	<key>GCM_SENDER_ID</key>
	<string>964741321159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prohelpng.app</string>
	<key>PROJECT_ID</key>
	<string>prohelp-95c57</string>
	<key>STORAGE_BUCKET</key>
	<string>prohelp-95c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964741321159:ios:9ba856c681239b7c38c9e2</string>
</dict>
</plist>